<!-- html, 틀 갖추기
     css, 디자인
     javascript, 인터렉션 -->
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        // 문서가 모두 로드되었다. -> 이벤트가 발생하면 자동호출
        // DOM(Document Object MOdel) tree가 로드되었다.
        // $(document).(function (){
        $(document).ready(()=>{
            console.log(1)
            let testMsg = "BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band formed in Seoul in 2010.[3] The septet co-writes and produces much of their output."
            $('.oriInput').val(testMsg)
        })
    </script>
</head>
<body>
    <div>
        <fieldset>
            <textarea class='oriInput'>원문</textarea>
            <br>
            <button id='LangDetectBtn'>언어감지</button>
            <br>
            <button>번역하기</button>
            <br>
            <textarea>번역문</textarea>
        </fieldset>
    </div>
    <script>
            // 내가 조작할 모든 요소가 메모리에 다 로드되었다.
            console.log(2)
            // 언어감지 버튼을 찾아가서, click 이벤트를 적용해라
            // $('css selector') => html내에 특정요소를 특정 or 찾는다.
            // ('css selector').on("이벤트",
            //                  콜백함수 (이벤트가 발생하면 실제적으로 일하는 함수)
            // $('css selector').on('click', function (){
            //     동작 코드!!
            //     alert('호출')    

            // jsp도 간결화된다. => 사용, ;(세미콜론) 사용X ...
            $('#LangDetectBtn').on('click', ()=>{
                // ajax를 이용하여서 원문 들고ㅗ 서버로 request를 수행
                // http 프로토콜로 통신, 데이터를 들고가는 방식: 메소드
                // 메소드 : get, post, push ... => 위키피디아에서 자세하게 메소드 확인
                // 케이스마다 중요한 점이 다르기 때문에 맞춰서 사용..!
                // 통신, ajax, post 수단 : jsp  << { get은 용량 문제로 안된다..?! }
                // $.ajax => 짧게 post 적으면 됨.. 결정되어 있기 때문에!!
                // jsp에서 {}는 객체!! ( in python, dictionary )
                console.log( $('.oriInput').val() )
                $.post({
                    'url':'/langTypeDetect',              // 서버주소
                    'data':'ori=' + $('.oriInput').val(), // 파라미터
                    'dataType':'json',                    // 서버가 json으로 응답한다.
                    'success':( resJson )=>{
                        console.log( '통신 성공', resJson)
                    }, // 통신 성공 후
                    'error':function (err){
                        console.log('통신 실패', err)
                    } // 통신 실패 후
                })
                // alert('호출')
            })
    </script>

</body>
</html>

