<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
    <!-- 화면에 보이는 부분 시작 -->
    <div>
        <h1 id="title">제목</h1>
        <h1 class="food">점심</h1>
        <p class="food">도시락</p>
        <button style="color: blue;">기본 색 변경</button>
        <button id="blackBtn" style="color: black;">색 변경</button>
        <button id="greenColorBtn" style="color: green;">색 변경</button>
        <button id="redColorBtn" style="color: red;">색 변경</button>
        <br>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <ol>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ol>
        </ul>
        <br>
        <input type="text" name='uid'>
        <input type="password" name='upw'>
        <br>
        <table border="1" id="data">
            <thead>
                <tr>
                    <th>col1</th>
                    <th>col2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 화면에 보이는 부분 끝 -->
    <script> // 설명 부분
        // jQuery : javascript framework의 가장 전통적인 제품
        // 손쉽게 js를 사용할 수 있어서 생산성을 극대화
        // 대부분의 js들이 jQuery를 기반으로 구현되었다.
        // 미션1 : h1의 글자색을 빨강색으로 처리하시오 (화면에 보이는 즉시)
        //        js로 해결하라.
        // 1. 요소(elemnet)를 찾는다.
        // 2. 그 요소에 이벤트를 준다. or 속성을 준다.
        // OR
        // 3. 기타 통신처리 (ajax)
    </script>
    <script> // 강사님 코드
        // h1을 찾아서, => $('css selector') : 요소를 찾자
        // 문서상에 존재하는 모든 h1 => 리스트, 배열 ...
        $('h1')
        // 빨강색으로 글자색을 처리 (DOM 조작 -> css 조작)
        $('h1').css('color','red')
        // 색 변경 버튼을 누르면, h1의 하위 글자색이 파랑색으로 바뀐다.
        $('button').on('click', ()=>{
            $('h1').css('color','blue')
        })
        // selector는 기본적으로 id 우선 => id는 유일, 고유(youtue 제외!!)
        $('blackBtn').on('click', ()=>{
            $('h1').css('color','black')
        })
    </script>
    <script> // 인터넷에서 찾은 방법 => 옛날 방법같다..?
        $('#greenColorBtn').on('click', ()=>{
            document.getElementById("title").style.color="green"
        })
        $('#redColorBtn').on('click', ()=>{
            document.getElementById("title").style.color="red"
        })
    </script>
    <script>
    </script>
    <script> 
        // class가 food인 요소의 글자색을 yellow
        $('.food').css('color', "greenyellow") // food 모두
        $('h1.food').css('color', "yellow") // h1 중에 food인 것
        // li > 1,2,3만 글자색 빨강
        // 특정이 않되면 부모, 자식 등 관계를 따진다.
        $('ul>li').css('color', 'red')
        // 후손 (직계자식도 포함된다.)
        $('ul li').css('color', 'blue')
        // 나열, 열거
        $('h1, h2, p').css('color', 'black')
        // 속성 셀렉터 => 주로 input에서 사용
        // 입력창의 배경색을 lightgreen
        $('[name=uid').css('background', 'lightgreen')
        // 의사결정셀렉터 -> 테이블, 리스트, 동적리스트 구성시
        // id가 data인 요소의 직계자식 tbody의 직계자식등 중 모든 tr
        $('#data>tbody>tr').css('background', 'yellow')
        $('#data>thead').css('background', 'blue')
        // 첫번째 tr의 배경색을 green
        $('#data>tbody>tr:first').css('background', 'green')
        // 막내 -> 가장 마지막에(방금) 추가된 요소
        $('#data>tbody>tr:last').css('background', 'red')
        // 홀짝번째
        $('#data>tbody>tr:odd').css('background', 'white')
        $('#data>tbody>tr:even').css('background', 'gray')
        // eq, gt, lt
        $('#data>tbody>tr:eq(3)').css('background', 'black') // 기준 위치
        $('#data>tbody>tr:gt(3)').css('background', 'green') // 기준 위치에서 아래(인덱싱 증가)
        $('#data>tbody>tr:lt(3)').css('background', 'lightgreen') // 기준 위치에서 위(인덱싱 감소) 
        // 특정 위치
        $('#data>tbody>tr:nth-child(2)').css('background', 'black') // 기준 위치

    </script>
    <script> // 각각 동일한 문법, openAPI에서는 일반적으로 html4버전을 쓴다.
             // 그러나 다른 것을 써도 된다??
        // html 4까지 사용
        document.getElementsByTagName('h1')
        document.getElementById('data')
        // html 5에서 추가
        document.querySelector('h1')
        document.querySelector('#data')
        // jQuery
        $('h1')
        $('#data')
    </script>
</body>
</html>

